* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'nexen';
    src: url('font/NEXENRegular.ttf');
}
body {
    font-family: 'nexen';
}
ul {
    list-style-type: none;
}
.sub_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #9A88DB;
    font-size: 1vw;
    color: #fff;
    overflow: hidden;
}
.sub_header img {
    width: 5%;
}
.menu {
    text-align: right;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 1vw;
    margin-right: 1vw;
}
.menu li{
    display: inline-block;
}
.menu li>a {
    text-decoration: none;
}
.menu li>a:link {
    color: #fff;
}
.menu li>a:visited {
    color: #fff;
}
.menu li>a:hover {
    background-color: #fff;
    color: #9A88DB;
}
section {
    height: calc(100vh - 3.75vw - 15vh);
    width: 100%;
    overflow-y: auto;
    text-align: center;
    justify-content: center;
    padding: 0;
}
footer {
    border-top: solid 3px #9A88DB;
    color: #666;
    width: 99%;
    height: 15vh;
    font-size: 1vw;
}
footer #address {
    float: left;
}
footer .link {
    float: right;
}
footer article {
    margin-top: 2vh;
}
footer .copyright {
    margin-top: 1vh;
    font-size: 0.8em;
    color: #888;
}
.on_page {
    font-weight: bold;
    color: #5543E4;
}

@media (max-width: 800px) {
    .sub_header {
      flex-direction: column;
      align-items: center;
      font-size: 2.3vw;
      padding: 1vh 0;
    }
    .sub_header img {
      width: 20vw;
      max-width: 100px;
      margin-bottom: 1vh;
    }
    .menu {
      justify-content: center;
      gap: 4vw;
      margin-right: 0;
    }
    .menu li {
      display: inline-block;
    }
    section {
      height: calc(100vh - 20vw - 20vh);
    }
    footer {
      height: auto;
      font-size: 3vw;
      padding: 2vh 5vw;
      box-sizing: border-box;
    }
    footer #address,
    footer .link {
      float: none;
      text-align: center;
      margin: 1vh 0;
    }
    footer article {
      margin-top: 1vh;
    }
  }